/* Your styles here */

:root {
  --black-color: rgb(15, 15, 15);
  --white-color: rgb(250, 250, 250);
  --grey-color: rgb(200, 200, 200);

  --section__spacing: 1.5rem;
  --divider__spacing: 1.25rem;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: #fff;
  background-color: #242424; */
  color: var(--black-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.outline--red {
  outline: 1px solid red;
}

.outline--blue {
  outline: 1px solid blue;
}

.outline--black {
  outline: 1px solid black;
}

html {
  font-size: 1em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

input,
select {
  padding: 0.1rem 0.2rem;
  font-family: inherit;
  font-size: inherit;
}

/* Header styles */

header {
  margin: calc(var(--section__spacing) * 2) auto calc(var(--section__spacing) * 2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
}

h1 {
  text-align: center;
  line-height: 1.125;
}

.banner {
  width: 100dvw;
  object-position: center;
}

/* Content styles */

main {
  width: 70%;
  /* max-width: 1200px; */
  margin: var(--section__spacing) auto calc(var(--section__spacing) * 2);
}

.sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  margin: var(--divider__spacing) 0;
  border-bottom: 1.5px solid var(--grey-color);
}

.cards-display {
  padding: 0 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: calc(var(--divider__spacing) * 3) var(--divider__spacing);
}

/* Card info styles */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.2rem;

  & > * {
    width: 100%;
  }
}

/* .card > * {
  width: 100%;
} */

.card__id {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card__name,
.card__description {
  text-align: justify;
}

.card__name {
  font-weight: 500;
}