/* Your styles here */

:root {
  --black-color: rgb(15, 15, 15);
  --white-color: rgb(250, 250, 250);
  --grey-color: rgb(200, 200, 200);

  --section__spacing: 1.5rem;
  --divider__spacing: 1.25rem;

  --content__max-width: 1200px;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: #fff;
  background-color: #242424; */
  color: var(--black-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1em;
}

img {
  max-width: 100%;
  display: block;
}

input,
select {
  padding: 0.1rem 0.2rem;
  font-family: inherit;
  font-size: inherit;
}

/* Header styles */
header {
  padding: calc(var(--section__spacing) * 2) 0 calc(var(--section__spacing) * 2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
}

h1 {
  max-width: var(--content__max-width);
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.125;
}

.banner {
  width: 100%;
  max-width: var(--content__max-width);
  height: auto;
  object-position: center;
}

/* Content styles */
main {
  padding: var(--section__spacing) 0 calc(var(--section__spacing) * 2);
}

.content {
  max-width: var(--content__max-width);
  margin: auto;
  padding: 0 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  margin: var(--divider__spacing) 0;
  border-bottom: 1.5px solid var(--grey-color);
}

.cards-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: calc(var(--divider__spacing) * 3) var(--divider__spacing);
}

/* Card info styles */
.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card > * {
  width: 100%;
}

.card__image {
  max-width: 500px;
  height: auto;
  flex: 0 1 auto;
}

.card__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 0.95rem;
}

.card__name {
  font-size: 1.55rem;
  font-weight: 500;
}
.card__description {
  font-size: 1.125rem;
}

@media (max-width: 450px) {
  body {
    font-size: 0.95em;
  }

  h1 {
    font-size: 2rem;
  }

  .card__info {
    font-size: 0.75rem;
  }

  .card__name {
    font-size: 1.35rem;
  }

  .card__description {
    font-size: 0.95rem;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  .card__info {
    font-size: 1.2rem;
  }

  .card__name {
    font-size: 1.75rem;
  }

  .card__description {
    font-size: 1.5rem;
    line-height: 1.15;
  }
}